
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Galerija terena</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    
<style>
    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    .thumbnail {
        padding: 0;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: #79BF7D;
        color: white;
    }

    #myCarousel img {
        width: 100%;
        height: 100%;
        height: 400px;
        max-height: 400px;

    }

    .item {
        background-color: white;
        height:100%;    
    }
    
    .btn-success {
        color: #177816;
        background-color: #C5EDC8;
        border-color: #6BED81;
    }

        .btn-success:hover,
        .btn-success:focus,
        .btn-success:active,
        .btn-success.active,
        .open .dropdown-toggle.btn-success {
            color: #177816;
            background-color: #8FE39C;
            border-color: #6BED81;
        }

        .btn-success:active,
        .btn-success.active,
        .open .dropdown-toggle.btn-success {
            background-image: none;
        }

        .btn-success.disabled,
        .btn-success[disabled],
        fieldset[disabled] .btn-success,
        .btn-success.disabled:hover,
        .btn-success[disabled]:hover,
        fieldset[disabled] .btn-success:hover,
        .btn-success.disabled:focus,
        .btn-success[disabled]:focus,
        fieldset[disabled] .btn-success:focus,
        .btn-success.disabled:active,
        .btn-success[disabled]:active,
        fieldset[disabled] .btn-success:active,
        .btn-success.disabled.active,
        .btn-success[disabled].active,
        fieldset[disabled] .btn-success.active {
            background-color: #C5EDC8;
            border-color: #6BED81;
        }

        .btn-success .badge {
            color: #C5EDC8;
            background-color: #177816;
        }
</style>
<script>
    jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
        var id_selector = $(this).attr("id");
        try {
            var id = /-(\d+)$/.exec(id_selector)[1];
            console.log(id_selector, id);
            jQuery('#myCarousel').carousel(parseInt(id));
        } catch (e) {
            console.log('Regex failed!', e);
        }
        });
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                    var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
    });
</script>

    <br />
    <hr />
    <div class="container-fluent">
        <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-sm-3" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->

                    <div class="panel panel-success">
                        <div class="panel-heading">Slike terena:</div>
                        <div class="panel-body">






                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-0">Čulenička cesta: Badminton</button>
                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-1">Tuškanac: Košarka</button>
                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-2">Šalata: Nogometni centar</button>

                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-3">Čulinečka cesta: Nogomet</button>
                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-4">Sveta Klara: Sportski Centar</button>
                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-5">Mala Šalata: Tenis centar</button>


                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-6">Medvešćak: Tenis Klub</button>
                            <button type="button" class="btn btn-success btn-block" id="carousel-selector-7">Špansko: Tenis Klub</button>




                        </div>
                    </div>



                </div>
                <div class="col-sm-9">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0" align="center">
                                            <img src="~/Content/tereni/badmintonTerenČuleničkaCesta.jpg">
                                            <h3 align="center">Čulinečka Cesta</h3>
                                            <p align="center">Teren za badminton (dvorana)</p>
                                        </div>
                                        <div class="item" data-slide-number="1" align="center">
                                            <img src="~/Content/tereni/KošarkaTerenTuškanac.jpg">
                                            <h3 align="center">Tuškanac</h3>
                                            <p align="center">Košarkaški teren na otvorenom</p>
                                        </div>
                                        <div class="item" data-slide-number="2" align="center">
                                            <img src="~/Content/tereni/nogometniCentarŠalata.jpg">
                                            <h3 align="center">Šalata</h3>
                                            <p align="center">Nogometni centar</p>
                                        </div>


                                        <div class="item" data-slide-number="3" align="center">
                                            <img src="~/Content/tereni/nogometniČuleničkaCesta.jpg">
                                            <h3  allign="center">Čulinečka cesta</h3>
                                            <p align="center">Nogometni teren - dvorana</p>
                                        </div>


                                        <div class="item" data-slide-number="4" align="center">
                                            <img src="~/Content/tereni/nogometSpCentarSvetaKlara.jpg">
                                            <h3 align="center">Sveta klara</h3>
                                            <p align="center">Sportski centar - nogometni teren </p>
                                        </div>


                                        <div class="item" data-slide-number="5" align="center">
                                            <img src="~/Content/tereni/tenisCentarMalaŠalata.jpg">
                                            <h3 align="center">Mala Šalata</h3>
                                            <p align="center">Tenis centar</p>
                                        </div>


                                        <div class="item" data-slide-number="6" align="center">
                                            <img src="~/Content/tereni/tenisKlubMedvešćak.jpg">
                                            <h3 align="center">Medvešćak</h3>
                                            <p align="center">Tenis klub</p>
                                        </div>


                                        <div class="item" data-slide-number="7" align="center">
                                            <img src="~/Content/tereni/tenisKlubŠpansko.jpg">
                                            <h3 align="center">Špansko</h3>
                                            <p align="center">Tenis klub</p>
                                        </div>



                                        <!-- Carousel nav -->
                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Slider-->
                </div>
            </div>
        </div>
        </div>
</body>
</html>


