@{
    ViewBag.Title = "Aj Van!";
}



<style>
    .naslov, .opis {
        background: rgba(90,90,90,0.85);
        color: azure;
        padding: 20px;
        border-radius: 20px;
        
    }

    .naslov {
        text-align: center;
    }
</style>

<h2 class="naslov">@ViewBag.Title</h2>


<div class="opis">
    <h3>
        O aplikaciji
    </h3>
    <p>
        Razmišljajući o trenutnom načinu života, nedostatku vremena i prateći različite društvene mreže i razmisljanja ljudi na istima došli smo do zaključka da je potrebno oživjeti sportski duh i potaknuti zdraviji život i kvalitetnije iskorištavanje slobodnog vremena unutar mlađe populacije, osobito velikog broja studenata u glavnom gradu Zagrebu.
    </p>
    <p>
        Naime, ideja aplikacije je povezatii ljude istih sportskih interesa kako bi mogli udružiti svoje snage i zajednički napredovati i iskušavati granice svojih talenata na zabavan način.
        Svaka osoba ima pravo registrirati se na aplikaciju u kojoj ima mogućnost pridružiti se određenoj sobi. Svaka soba ima određen broj igrača, vrstu sporta, vrijeme i detalje oko terena na kojemu će se igrati. Pristupom određenoj sobi ima pravo sudjelovati u chat-komunikaciji sa ostalim igračima u kojima može dogovoriti sve ostale detalje i pravila.
        Ukoliko nijedna od ponuđenih soba ne odgovara željama korisnika, on može kreirati novu sobu u kojoj će postaviti svoje uvjete, a ostali korisnici će mu se moći pridružiti.
    </p>
    <p>
        Osim što ova aplikacija omogućuje zdraviji i kvalitetniji život te njeguje sportski duh i usavršavanje talenata, ona je posebna po tome što će iz nje proizaći i mnoga prijateljstva koja će studentski život učiniti još zanimljivijim i zabavnijim, a povratak studentskim obvezama nakon kvalitetno iskoristenog popodneva neće stvarati problem.
    </p>
    <p>
        <i>
            Tjelesna kondicija nije samo jedan od najvažnijih ključeva za zdravo tijelo, to je temelj dinamične i kreativne intelektualne aktivnosti." - John F. Kennedy
        </i>
    </p>
    <h3>
        O autorima
    </h3>
    <p>
        Ova je web aplikacija nastala kao projekt na kolegiju Programske paradigme i jezici na Fakultetu elektrotehnike i računarstva. 
        Autori su studenti 3. godine preddiplomskog studija:

        <ul>
            <li>
                Josip Paladin
            </li>
            <li>
                Mislav Gillinger
            </li>
            <li>
                Matej Jelušić
            </li>
        </ul>
    </p>
</div>
